body, html{
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    border-top: 3px solid #45B42E;
    margin-top: 5px;
    font-size: 16px;
    padding: 0;
}
.navbar{
    display: flex;
    max-width: 1090px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.logo img{
    height: 50px;
    width: 120px;
    margin-right: 50px;
    margin-bottom: -5px;
    margin-top: -2px;
}
.menu, li{
    display: flex;
    list-style: none;
    margin-left: auto;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}
.active{
    background-color: #45B42E;
    color: white;
}
a:hover{
    background-color: #45B42E;
    color: white;
}
.phone{
    display: flex;
    margin-left: auto;
}
span > a > img{
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
}
span a {
    padding-left: 5px;
}
@media screen and (max-width: 600px){
    .navbar{
        align-items: flex-start;
        margin:0;
        padding: 0;}
    }
.container{
    max-width: 1090px;
    margin: 0 auto;
    padding: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 88%, rgba(230,232,230,1) 100%);
}
.boxes{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 25%;
    border: 1px solid rgb(209, 207, 207);
}

@media screen and (min-width: 600px){
    .container{
        display:flex;
        justify-content: space-around;
    }
}
h1{
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(14, 71, 136);
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 25px;
    letter-spacing: 5px;
    display: block;
}
h3{
    font-weight: 900;
}
p{
    line-height: 25px;
}
















/* header{
    border-top: 3px solid rgb(85, 228, 85);
    margin: 5px 0px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    height: 2.5em;
    width: 100%;
}
.logo > a > img{
    height: 100%;
}
.menu, li a{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: -2em;
}
li {
    padding: 0 1rem;
}
.phone > img {
    height: 1.5em;
    border-radius: 50%;
}
.phone {
    display: flex;
    margin-left: 5em;
    padding: 0.7em 3em;
} 
.nr{
    padding-left: 0.5em;
    padding-top: 0.2em;
}
.container{
    display: flex;
}
.container > div{
    width: 30%;
    height: 40%;
    background: rgb(247,249,247);
    background: linear-gradient(0deg, rgba(247,249,247,1) 29%, rgba(179,180,179,1) 85%);
} */
