body, html{
    margin:0;
    padding: 0;
    box-sizing: content-box;
}
header{
    border-top: 3px solid green;
    margin: 5px 10em;
    font-size: 14px;
    width: 960px;
    text-align: center;
}
.navbar{
    display: flex;
    height: 2.5em;
    width: 100%;
}
.logo > img{
    height: 100%;
}
.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: -2em;
}
li {
    padding: 0 1rem;
}
span > img {
    height: 1.5em;
    border-radius: 50%;
}
.phone {
    display: flex;
    margin-left: 5em;
    padding: 0.7em 3em;
}
.nr{
    padding-left: 0.5em;
    padding-top: 0.2em;
}
